.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.main_contact {
    width: 100vw;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
}

.CTA {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Cookie", serif;
    font-weight: 600;
    padding: 1rem 0;
}

.hire_form {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.my_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 40vw;
    color: black;
    height: auto;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
}

.hire_me {
    text-align: center;
    padding: 1rem;
}

.arrow_icon {
    font-size: 0.8em;
    vertical-align: sub;
    margin-left: .5rem;
}

.details {
    display: flex;
    flex-direction: column;
}

.hire_details {
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.email {
    padding-left: .5rem;
}

.contact_form {
    padding: 1rem;
    line-height: 2.5;
}

.contact_form label {
    padding-left: .7rem;
}

.box {
    border: 1.5px solid rgb(189, 189, 189);
    border-radius: .5rem;
    height: 2.5rem;
    padding: .7rem;
    font-family: "Roboto", serif;
}

.contact_form textarea {
    resize: none;
    width: auto;
    height: 5rem;
}

.hire_btn {
    text-align: center;
    padding-top: .5rem;
}

.submit_btn {
    width: 5vw;
    height: 5vh;
    border: none;
    border-radius: .5rem;
    background-color: rgb(0, 225, 255);
    color: rgb(36, 36, 36);
    font-size: 1rem;
    font-weight: 550;
    transition: all .2s ease;
}

.submit_btn:hover {
    box-shadow: 0 0 5px rgb(0, 225, 255);
    transform: scale(1) translateY(-1.5px);
}

@media screen and (max-width:1024px) {
    .details a{
        font-size: .8rem;
    }
    .details span{
        font-size: .8rem;
    }
    .submit_btn{
        width: 10vw;
    }
}

@media screen and (max-width:780px){
    .hire_form{
        flex-direction: column;
        align-items: center;
    }

    .my_contact{
        width: 70%;
        height: 40vh;
    }

    .submit_btn{
        width: 15vw;
    }

    .CTA{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    .my_contact{
        width: 80vw;
        height: 50vh;
    }

    .CTA{
        font-size: 1rem;
    }
}