.footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

hr{
    margin-top: 2rem;
}

.footer_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}

.social{
    list-style: none;
    display: flex;
}

.sociallink{
    padding: .8rem;
}

.terms{
    list-style: none;
    display: flex;
}

.terms_privacy{
    padding: .4rem;
}

.terms_privacy a{
    color: white;
}

.sociallink a{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid var(--main);
    border-radius: 50%;
    font-size: 1.7rem;
    transition: 0.3s ease;
    color: var(--main);
}

.sociallink a:hover{
    color: black;
    background-color: var(--hoverColor);
    box-shadow: 0 0 20px var(--hoverColor);
    transform: scale(1) translateY(-2px);
}


@media screen and (max-width: 780px) {
    .footer_main{
        flex-direction: column;
        gap: 1rem;
    }
}